.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#exchangeForm {
    height: 1.5em;
    display: flow;
}

input, select {
    padding: 0 5px;
    border: 1px;
    height: 100%;
}

input[type=submit] {
    padding: 0 20px;
    margin-left: 15px;
    margin-right: 15px;
}

input:disabled {
    color: antiquewhite;
}

select {
    margin-left: 3px;
}
h1 {
font-size: 3em;
}